<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= projectName %></title>
    <link href="css/core.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- container table start -->
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>

        <!-- example table start -->
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="200" valign="top"></td>
            <td width="200" valign="top"></td>
            <td width="200" valign="top"></td>
          </tr>
        </table>
        <!-- example table end -->

        </td>
      </tr>
    </table>
    <!-- container table end -->
  </body>
</html>
